{% include "header.html" %}

  <section id="intro">
    <div class="container-fluid">
        <div class="row">
          <div class="text-center">
              <h2 class="introduction">Hi, I'm Sergey. I learn to develop web-sites & backends</h2>
          </div>
        </div>
        <div class="row">
          <div class="text-center">
              <img class="avatar" src="../static/img/avatar.jpg">
          </div>
        </div>
    </div>
  </section>

<section id="websites">
    <h2>Websites</h2>
    <div id="carousel-websites" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h5>Landing Page</h5>
            <img class="website-image" src="../static/img/lujo.png" width="600" height="600" alt="customer">
          </div>
          <div class="carousel-item">
            <h5>Blog with authorization</h5>
            <img class="website-image" src="../static/img/blog.png" width="600" height="600" alt="customer">
          </div>
          <div class="carousel-item">
            <h5>Movies Database</h5>
            <img class="website-image" src="../static/img/movies.png" width="600" height="600" alt="customer">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-websites" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-websites" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<section id="telegram">
    <div class="container-fluid">
        <h2>Telegram Bot</h2>
        <div id="telegram-bot" class="container-fluid m-auto">
            <div class="row">
                <div class="col-6">
                    <img id="bot-picture" src="../static/img/lain.png" alt="bot-avatar">
                </div>
                <div class="col-6">
                    <p>I work on my <a href="https://telegram.me/lane_serg_bot">telegram-bot</a>, experimenting with free APIs. These are the projects integrated into bot:</p>
                    <ul>
                        <li>Weather API</li>
                        <li>Stocks API</li>
                        <li>Flights API</li>
                        <li>Spotify API</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container-fluid">
        <h2 style="text-align: center">Skills</h2>
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-softskills-tab" data-bs-toggle="pill" data-bs-target="#pills-softskills" type="button" role="tab" aria-controls="pills-softskills" aria-selected="true">Soft Skills</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-hardskills-tab" data-bs-toggle="pill" data-bs-target="#pills-hardskills" type="button" role="tab" aria-controls="pills-hardskills" aria-selected="false">Hard Skills</button>
          </li>
        </ul>
        <div class="tab-content d-flex justify-content-center" id="pills-tabContent">
          <div class="tab-pane fade shadow show active p-3 mb-5" id="pills-softskills" role="tabpanel" aria-labelledby="pills-softskills-tab">
              <ul class="skills-card">
                  <li>Verbal & non-verbal of communication</li>
                  <li>Conflict management</li>
                  <li>Training ability</li>
                  <li>Critical Thinking</li>
                  <li>Commitment</li>
                  <li>Punctuality</li>
              </ul>
          </div>
          <div class="tab-pane fade shadow p-3 mb-5" id="pills-hardskills" role="tabpanel" aria-labelledby="pills-hardskills-tab">
              <ul class="skills-card">
                  <li><strong>Python Web Frameworks:</strong> Flask, Django</li>
                  <li><strong>Python Data Analysis:</strong> pandas, matplotlib</li>
                  <li><strong>Python Libraries:</strong> aiogram (async telegram bots) and others</li>
                  <li><strong>Web:</strong> API, HTTP requests, web scraping</li>
                  <li><strong>Web Design:</strong> HTML, CSS, jinja, bootstrap5</li>
                  <li><strong>SQL:</strong> sqlalchemy, MySQL, T-SQL</li>
              </ul>
          </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container-fluid">
        <h2>Testimonials</h2>
        <div id="testimonials-text" class="container-fluid">
            <h4>Page built with flask, bootstrap 5</h4>
            <h4>Avatar by <a href="https://telegram.me/losernyan">losernyan</a></h4>
        </div>
    </div>
</section>



















{% include "footer.html" %}